KARTICLE_ENV=development
KARTICLE_BACKEND_HOST=0.0.0.0
KARTICLE_BACKEND_PORT=8000
KARTICLE_ALLOWED_ORIGINS=http://localhost:5173
KARTICLE_UNLOCK_TOKEN_SECRET=change-me
KARTICLE_UNLOCK_TOKEN_TTL_DAYS=30
KARTICLE_PAYMENT_PROVIDER=stripe
KARTICLE_PAYMENT_WEBHOOK_SECRET=change-me
KARTICLE_PAYMENT_SECRET_KEY=change-me
KARTICLE_UNLOCK_COOKIE_MAX_AGE_DAYS=3650
